<h2>Lista de postagens</h2>
<hr>
<a href="/admin/postagens/add">
    <button class="btn btn-outline-success">Nova Postagens</button>
</a>


{{#each postagens}}
<div class="card mt-4">
    <div class="card-body">
        <h4>{{titulo}}</h4>
        <p>{{descricao}}</p>
        <small>Data: {{date}}</small>
        <br>
        <small>Categoria: {{categoria.nome}}</small>
        <br><br>
        <div style="display : flex;
              flex-direction : row">
            <a href="/admin/postagens/edit/{{_id}}"><button class="btn btn-primary btn-sm">Editar
                    postagem</button></a>
            <form action="/admin/postagens/delete" method="post">
                <input type="hidden" name="id" value="{{_id}}">
                <button type="submit" class="btn btn-danger btn-sm ms-4">Deletar postagem</button>
            </form>
        </div>
    </div>
</div>
{{else}}
<p>Nenhuma postagem registrada</p>
{{/each}}